body {
    font-family: Arial;
    background: #f0f2f5;
    margin: 0;
}

.navbar {
    background: #1877f2;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.post-box, .card {
    background: white;
    margin: 20px auto;
    padding: 15px;
    width: 400px;
    border-radius: 10px;
}

.auth {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}
